
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0">Role Permissions</h3>
            </div>
            <div class="col-6 text-right">
              <% if @role_permissions.exists? %>
                <%= link_to new_role_permission, class: "btn btn-sm btn-neutral btn-round btn-icon" do %>
                          
                          <span>New</span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flus">
            <thead class="thead-light">
              <tr>
                
              </tr>
            </thead>
            <tbody>
              <% @role_permissions.each do |role_permission| %>
                <tr>
                  
                  <td>
                    <%= link_to "View", role_permission, class: "btn btn-default" %>
                    <%= link_to "Edit", edit_role_permission_path(role_permission), class: "btn btn-default" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
