<div class="container-fluid mt--6">
    <div class="flex items-center justify-start mt-6">
    <%= link_to 'Edit', edit_role_permission_path(@role_permission), class: "btn btn-default" %>
    <%= link_to 'Back', role_permissions_path, class: "btn btn-default" %>
  </div>
</div>