@include media-breakpoint-between(lg, xl) {
  input[type="number"].text-right::-webkit-inner-spin-button {
    margin-left: 10px;
  }
}

.department-collapse.show li.department-group:last-child {
  padding-bottom: 0 !important;
}

//Custom Bs-Stepper
.bs-stepper .step-trigger:focus {
  color: $primary;
}

.active .bs-stepper-circle {
  background-color: $primary;
}
